<!-- 1er -->

<div style="height: 100vh;" class=" container d-flex flex-wrap align-items-center">
  <div class="col-sm"><img class="w-100"
      src="https://resize.prod.docfr.doc-media.fr/s/500/img/var/doctissimo/storage/images/fr/www/nutrition/news/classement-meilleurs-regimes/4365953-1-fre-FR/classement-meilleurs-regimes.jpg"
      alt="img logo"></div>
  <div class="col-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, recusandae sint. Assumenda sunt
    nam quo rem ipsum repellendus quisquam voluptatibus quasi, quas esse debitis placeat ducimus ipsam natus, non culpa?
    <div class="m-1">
      <a routerLink="Login" class="btn btn-danger btn-block">Login</a>
      <a routerLink="creat-accompt" class="btn btn-info btn-block">creat account</a>
    </div>
  </div>
</div>

<!-- 2eme -->
<!-- <div>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div style="height: 100vh;" class="carousel-item active">
        <img src="https://www.nicolasvermeulendieteticien.fr/public/img/big/Photo167649782jpg_5c78348134b6a.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block"><span></span>
          <button routerLink="Login" class="btn btn-danger btn-block">Login</button>
          <button routerLink="creat-accompt" class="btn btn-info btn-block">creat account</button>
        </div>
      </div>
      <div style="height: 100vh;" class="carousel-item">
        <img src="https://www.nicolasvermeulendieteticien.fr/public/img/big/Photo167649782jpg_5c78348134b6a.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <button routerLink="Login" class="btn btn-danger btn-block">Login</button>
          <button routerLink="creat-accompt" class="btn btn-info btn-block">creat account</button>
        </div>
      </div>
      <div style="height: 100vh;" class="carousel-item">
        <img src="https://www.nicolasvermeulendieteticien.fr/public/img/big/Photo167649782jpg_5c78348134b6a.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <button routerLink="Login" class="btn btn-danger btn-block">Login</button>
          <button routerLink="creat-accompt" class="btn btn-info btn-block">creat account</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->
