<div class="container">
  <h1 class="section-title">Exercice list</h1>
  <div class="row">

    <div class="container d-flex align-items-center">

      <div class="container row row-cols-1 row-cols-md-3">
        <!-- card start -->
        <div *ngFor="let exercicie of exercices" class="col mb-4">
          <div class="card promoting-card">
            <div class="card-body d-flex flex-row">
              <div>
                <h4 class="card-title font-weight-bold mb-2">{{exercicie.duree}}</h4>
              </div>
            </div>
            <div class="view overlay">
              <img class="card-img-top rounded-0"
                src="https://file1.topsante.com/var/topsante/storage/images/6/1/0/610410/8727892-1/AVC-l-exercice-physique-protege-le-cerveau-avant-et-le-restaure-apres.jpg?alias=original"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <div class="collapse-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam in et, eveniet, esse nobis eum alias
                  quaerat rerum veritatis cum!</p>
                <a class="btn btn-info" href="">Details</a>
              </div>
            </div>
          </div>
        </div>
        <!-- caed end -->
        <!--  -->
        <!--  -->
      </div>
    </div>
  </div>
